<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983527456894-iu8v8runpisb5g59nn5q3urou8i78b15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983527456894-iu8v8runpisb5g59nn5q3urou8i78b15</string>
	<key>API_KEY</key>
	<string>AIzaSyD_xOBwwLgKF4cxGLNSe6AWe4VMl98gePY</string>
	<key>GCM_SENDER_ID</key>
	<string>983527456894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChandlerCreates.UGolf</string>
	<key>PROJECT_ID</key>
	<string>ugolf-1c190</string>
	<key>STORAGE_BUCKET</key>
	<string>ugolf-1c190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983527456894:ios:c1c03604249aee8077982f</string>
</dict>
</plist>